{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productlar</title>
    <!-- buni o'zgaritirasizlar djangoga moslashtiriasizlar -->
     <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- nav -->
    <nav class="navbar">
        <div class="nav-logo">
            <a href="/">Site logo</a>
            <p class="btn">=</p>
        </div>

        <ul class="nav-list">
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/product/add">An other routes</a></li>
        </ul>
    </nav>
     <!-- head -->
    <section class="container">
        <div class="blocks">
            {% for product in products %}            
            <div class="block">
                <img src="{{product.photo.url}}" alt="{{product.name}}">
                <h5>{{product.name}}</h5>
                <p>{{product.about}}</p>
                <h1>{{product.price}}  so'm</h1>
                <a href="/product/{{product.pk}}">To'liq ma'lumot</a>
            </div>
            {% endfor %}            
        </div>
        
    </section>
      <!-- footer -->


    <script src="{% static 'main.js' %}"></script>
</body>
</html>