<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productlar</title>
    <!-- buni o'zgaritirasizlar djangoga moslashtiriasizlar -->
     <link rel="stylesheet" href="./../static/styles.css">
</head>
<body>
    <!-- nav -->
    <nav class="navbar">
        <div class="nav-logo">
            <a href="/">Site logo</a>
            <p class="btn">=</p>
        </div>

        <ul class="nav-list">
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/product/add">An other routes</a></li>
        </ul>
    </nav>
     <!-- head -->
    <section class="container">
        <div class="blocks">
            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>
            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>

            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>

            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>

            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>
            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>
            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>
            <div class="block">
                <img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar_product_image-desktop.jpg" alt="">
                <h5>Coca cola</h5>
                <p>About Lorem ipsum dolor sit.</p>
                <h1>13 000  so'm</h1>
                <a href="/product/id">To'liq ma'lumot</a>
            </div>
        </div>
        
    </section>
      <!-- footer -->


    <script src="./static/main.js"></script>
</body>
</html>